.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* created variable for text color in globals.css */
  color: var(--textcolor);
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button_box {
  display: flex;
  align-items: center;
  width: 100%;
}
