.login_background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  height: 100vh;
  width: auto;
  background-size: auto;
  /* background-image: url(https://media.giphy.com/media/3og0IFrHkIglEOg8Ba/giphy.gif); */

  /* background-attachment: url('bl.gif');
  animation-name: trial;
  animation-duration: 100s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-iteration-count: infinite; */
}

.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
  width: 500px;
  background-color: rgb(255, 255, 255, 0.4);
  box-shadow: 20px;
  /* created variable for text color in globals.css */
  color: var(--textcolor);
  border-radius: var(--border-radius);
  backdrop-filter: blur(5px);
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login_head {
  color: var(--primary-color);
  text-transform: uppercase;
}

.login_input_box {
  margin: 20px;
  margin-bottom: 40px;
}

.login_input {
  padding: 10px;
  height: 45px;
  width: 300px;
  border: 0;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 500;
  padding-left: 50px;
  /* min-width: 200px; */
}

.login_input_icon{
  color: var(--primary-color);
  position: relative;
  left: 38px;
  margin-bottom: -6px;
}

.login_input:focus-visible {
  outline: none;
  border: 2.5px solid var(--primary-color);
}

.login_input::placeholder {
  text-transform: capitalize;
}

.login_input_box:nth-child(2) {
  margin-bottom: 5px;
}

.redirect {
  width: 20vw;
  text-align: right;
  text-decoration: none;
  color: white;
  margin-right: 3px;
  white-space: nowrap;
}
.redirect:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.button_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
}

.login_btn {
  width: 120px;
}

@media(max-width:380px){
  .login_input{
    width: 200px;
  }

  .redirect{
    width: 200px;
    font-size: 0.8rem;
  }
}
