.login_background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  height: 100vh;
  width: auto;
  background-size: cover;
  transform: rotateY(180deg);
  /* background-image: url(/blackhole.gif); */
  transition: all 0.5s ease-in-out 0.5s;
}

.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 500px;
  /* background-color: rgb(255, 255, 255, 0.4); */
  background-color: rgba(247, 236, 255, 0.4);
  box-shadow: 20px;
  /* created variable for text color in globals.css */
  color: var(--textcolor);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  /* margin: 0 5px; */
}

.login_head {
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 10px;
}

.form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login_input_box {
  position: relative;
  margin: 20px;
  margin-bottom: 20px;
}

.login_input {
  padding: 10px;
  height: 45px;
  width: 300px;
  border: 0;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 500;
  padding-left: 50px;
  /* min-width: 200px; */
}

.login_input_icon {
  color: var(--primary-color);
  position: absolute;
  left: 10px;
  bottom: 50%;
  transform: translate(0, 50%);
  margin-bottom: 0px;
}

.eye_icon {
  left: 88%;
  cursor: pointer;
}

.login_input:focus-visible {
  outline: none;
}

.login_input::placeholder {
  text-transform: capitalize;
}

.login_input_box:nth-child(2) {
  margin-bottom: 5px;
}

.button_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 100%;
}

.login_btn {
  width: 90%;
  border-radius: 5px;
}

.bar {
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: center;
  height: 1px;
  width: 100%;
}

.bar_text {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 10px;
}

.other_login_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 0.9rem;
  margin: 0 10px;
  cursor: pointer;
  background: #fff;
  padding: 5px;
  width: 90%;
  border-radius: 5px;
}

.other_login_icon:hover {
  background: #eee;
}

.other_login_icon:active {
  background: #ccc;
}

.link_box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 20px;
  color: var(--primary-color);
}

.redirect {
  width: fit-content;
  text-align: right;
  text-decoration: none;
  margin-left: 5px;
  border-radius: 5px;
  padding: 1px 5px;
  font-weight: 500;
  color: white !important;
  transition: all 0.3s linear;
  border: 2px solid;
  border-color: white !important;
}
.redirect:hover {
  text-decoration: underline;
}

@media (max-width: 550px) {
  .login_box {
    backdrop-filter: none;
    background-color: transparent;
  }

  .login_background {
    width: 100%;
  }

  .link_box {
    color: white;
  }
  .redirect {
    color: var(--primary-color) !important;
    border: none;
    text-decoration: underline;
  }
}

@media (max-width: 380px) {
  .login_input {
    width: 250px;
  }
  .redirect {
    width: 250px;
    font-size: 0.8rem;
  }
}
