.Navbar_Wrapper {
  position: fixed;
  background-color: var(--dashboard-color);
  backdrop-filter: blur(10px);
  color: var(--textcolor);
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 250px;
  height: 95%;
  border-radius: var(--border-radius);
  z-index: 100;
}

.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0 20px 0;
  border-radius: var(--border-radius);
}

.Logo_icon {
  object-fit: contain;
  margin-right: 10px;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.Logo span {
  font-size: 1.5rem;
  font-weight: 600;
}

.Navbar_Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85%;
  width: 100%;
  padding: 0 10px;
  list-style: none;
  overflow: scroll;
}

.Navbar_Menu li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 8px 0px;
  text-transform: capitalize;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.8);
}

.Navbar_Menu li:hover {
  background-color: rgb(var(--primary-color-rgb), 0.7);
  color: rgba(255, 255, 255, 1);
}

.Navbar_Menu li:active {
  background-color: var(--primary-color);
  outline: none;
  color: rgba(255, 255, 255, 1);
}

.Navbar_Menu .active {
  background-color: rgb(var(--primary-color-rgb), 0.6);
  outline: none;
  color: rgba(255, 255, 255, 1);
}

.Navbar_Menu li span {
  margin-left: 10px;
}

.Navbar_Menu_icon {
  font-size: 1.2rem;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: rgba(247, 236, 255, 0.4);
  backdrop-filter: blur(10px);
  border: solid 2px white;
}

.user_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.user_info span {
  margin-right: 10px;
  font-size: 1.2rem;
}
.user_info span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-bottom: -3px;
  padding: 5px;
}

.userName {
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.userName:hover {
  text-decoration: underline;
}

.user_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.user_options_icons {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.user_options_icons:is(:active, :focus, :hover) {
  opacity: 1;
}

.settings {
  transition: all 0.3s ease-in-out;
}

.settings:is(:active, :focus) {
  transform: rotate(90deg);
}

.MobileNavbar_Wrapper {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: var(--border-radius);
}

@media screen and (max-width: 768px) {
  .MobileNavbar_Wrapper {
    display: flex;
  }

  .Navbar_Wrapper {
    display: none;
  }
  .Navbar_Menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .Navbar_Menu li {
    width: fit-content;
  }
}
