.signup_background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  height: 100vh;
  width: auto;
  background-size: cover;

  /* background-image: url(/blackhole.gif); */
  animation-duration: 100s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-iteration-count: infinite;
}

.backgroundvideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.signup_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  width: 500px;
  background-color: rgba(247, 236, 255, 0.4);
  box-shadow: 20px;
  /* created variable for text color in globals.css */
  color: var(--textcolor);
  border-radius: var(--border-radius);
  backdrop-filter: blur(5px);
  margin: 0 5px;
}

.signup_head {
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 2rem;
  /* margin-bottom: 10px; */
}

.form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.signup_input_box {
  position: relative;
  margin: 10px;
  margin-bottom: 20px;
}

.signup_input {
  padding: 10px;
  height: 45px;
  width: 300px;
  border: 0;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 500;
  padding-left: 50px;
}

.signup_input:focus {
  outline: none;
}

.signup_input::placeholder {
  text-transform: capitalize;
}

.signup_input_icon {
  color: var(--primary-color);
  position: absolute;
  left: 10px;
  bottom: 50%;
  transform: translate(0, 50%);
  margin-bottom: 0px;
}

.eye_icon {
  left: 88%;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
}
.checkbox input {
  margin-right: 10px;
}

.checkbox label {
  font-size: 0.9rem;
}
.checkbox a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.checkbox a:hover {
  text-decoration: underline;
}

.button_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 100%;
}

.signup_btn {
  width: 60%;
  border-radius: 5px;
}

.bar {
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: center;
  height: 1px;
  width: 100%;
}

.bar_text {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 10px;
}

.other_signup_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 0.9rem;
  margin: 0 10px;
  cursor: pointer;
  background: #fff;
  padding: 5px;
  width: 60%;
  border-radius: 5px;
}

.other_signup_icon:hover {
  background: #eee;
}

.other_signup_icon:active {
  background: #ccc;
}
@media (max-width: 550px) {
  .signup_box {
    background-color: transparent;
    backdrop-filter: none;
  }
  .signup_btn,
  .other_signup_icon {
    width: 70%;
  }
}

@media (max-width: 380px) {
  .signup_input {
    width: 250px;
  }
}
@media (max-width: 340px) {
  .signup_input {
    width: 220px;
  }
}
